In [1]:
import pandas as pd
import numpy as np

students = pd.read_csv("https://userpage.fu-berlin.de/soga/data/raw-data/students.csv")

In [2]:
students

,stud.id,name,gender,age,height,weight,religion,nc.score,semester,major,minor,score1,score2,online.tutorial,graduated,salary
1,833917,"Gonzales, Christina",Female,19,160,64.8,Muslim,1.91,1st,Political Science,Social Sciences,NaN,NaN,0,0,NaN
2,898539,"Lozano, T'Hani",Female,19,172,73.0,Other,1.56,2nd,Social Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
3,379678,"Williams, Hanh",Female,22,168,70.6,Protestant,1.24,3rd,Social Sciences,Mathematics and Statistics,45.0,46.0,0,0,NaN
4,807564,"Nem, Denzel",Male,19,183,79.7,Other,1.37,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
5,383291,"Powell, Heather",Female,21,175,71.4,Catholic,1.46,1st,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8235,818044,"Her, Joshua",Male,22,181,79.1,Protestant,2.91,6th,Environmental Sciences,Social Sciences,73.0,71.0,0,1,36750.087135
8236,560166,"Reid, Jose",Male,23,178,72.6,Catholic,2.03,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
8237,380174,"Villa, Raechelle",Female,20,169,67.7,Other,3.72,3rd,Environmental Sciences,Economics and Finance,77.0,75.0,1,0,NaN
8238,540967,"Ngo, Preston",Male,23,195,98.6,Other,2.74,4th,Social Sciences,Political Science,50.0,46.0,1,1,40112.041834
8239,413207,"Bernhard, Estela",Female,19,170,69.0,Muslim,3.29,>6th,Political Science,Biology,47.0,59.0,1,1,45900.134459

In [5]:
mu_0 = 70.8
sigma = students["weight"].std()

print(round(sigma, 2))

8.64

In [4]:
students["weight"].std()

8.63516168839212

In [6]:
n = 14
sample_weights = students.sample(n, random_state = 8)["weight"]

mean_sample = sample_weights.mean()

print(round(mean_sample, 2))

69.82

In [7]:
alpha = 0.05

In [8]:
z = (mean_sample - mu_0) / (sigma / np.sqrt(n))

print(z)

-0.4240197400266611

In [9]:
from scipy.stats import norm

z_ha1 = norm.ppf(alpha / 2)
z_ha2 = norm.ppf(alpha)
z_ha3 = norm.ppf(1 - alpha)

In [15]:
print(z > np.abs(z_ha1))

False

In [16]:
print(z < z_ha1)

False

In [17]:
# Reject H0?
print(z < z_ha2)

False

In [18]:
# Reject H0?
print(z > z_ha3)

False

In [14]:
# alternative approach with t distribution
from scipy.stats import t

z_ha1 = t.ppf(alpha / 2, df=13)
z_ha2 = t.ppf(alpha, df=13)
z_ha3 = t.ppf(1 - alpha, df=13)